<h1>Marathi Playlist Editor</h1>
<h2 class="c">Playlist for 
    <button
        matTooltip="previous day" 
        mat-raised-button 
        (click)="onPrev()"> <i class="fa fa-arrow-left"></i>
    </button>
    {{ today | amDateFormat: 'LL'}}
    <button
    matTooltip="next day" 
    mat-raised-button 
    (click)="onNext()"> <i class="fa fa-arrow-right"></i>
</button>
</h2>(times are local to your browser)
<app-schedule #s></app-schedule>
<mat-accordion>
  <mat-expansion-panel>
        <mat-expansion-panel-header>
            <h2 matTooltip="Expand this drawer to add today's broadcasts to the schedule">Today's Marathi Live Broadcasts</h2>
            (we don't have real Marathi programmes yet so these are dummies)
        </mat-expansion-panel-header>
        <app-broadcasts (scheduleChange)="s.addBroadcastHandler($event)"></app-broadcasts>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <h2 matTooltip="Expand this drawer to add programmes to the schedule">Recent Marathi Programmes</h2>
            (we don't have Marathi programmes yet so these are dummies)
        </mat-expansion-panel-header>
        <app-programmes (scheduleChange)="s.addBroadcastHandler($event)"></app-programmes>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <h2 matTooltip="Expand this drawer to add web clips to the schedule">Recent Marathi Online Clips</h2>(these are real)
        </mat-expansion-panel-header>
        <app-clips (scheduleChange)="s.addBroadcastHandler($event)"></app-clips>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <h2 matTooltip="Expand this drawer find any clip or programme to add to the schedule">Search for Programmes and Clips</h2>(not done yet)
        </mat-expansion-panel-header>
        <app-search (scheduleChange)="s.addBroadcastHandler($event)"></app-search>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <h2 matTooltip="Expand this drawer to add special clips to the schedule">Specials</h2>(a dummy is here for now)
        </mat-expansion-panel-header>
        <app-specials (scheduleChange)="s.addBroadcastHandler($event)"></app-specials>
    </mat-expansion-panel>
</mat-accordion>